    <div class="container">
        <form action="/add" method="post">

            <div class="input-group">
                <label for="title" class="input-group-text">Nombre </label>
                <input name="title" placeholder="Title" class="form-control"/>
            </div>
            <div class="input-group">
                <label for="price" class="input-group-text">Precio </label>
                <input name="price" type="number" placeholder="Price" class="form-control" />
            </div>
            <div class="input-group">
                <label for="thumbnail" class="input-group-text">Thumbnail </label>
                <input name="thumbnail" placeholder="Thumbnail" class="form-control"/>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>